// Intentionally increase selector specificity.
.textFieldStyle.textFieldStyle {
  margin: 2rem;
  flex-shrink: 0;

  & > [class*=MuiFormLabel]:not([class*=focused]) {
    z-index: 2;
    color: white;
  }

  & > [class*=MuiInput-root] {
    border: 1px solid darkgray;
    border-radius: 0;
    background-color: lightgray;

    &::before, &::after {
      display: none;
    }
  }
}
