// Intentionally increase selector specificity.
.root.root {
  flex-shrink: 0;
  margin: 2rem;
}

.input {
  border: 1px solid darkgray;
  border-radius: 0;
  background-color: lightgray;
  
  &::before, &::after {
    display: none;
  }
}

// Intentionally increase selector specificity.
.label.label {
  z-index: 2;
  color: white;
}
