// Intentionally increase selector specificity.
.buttonStyle.buttonStyle {
  margin: 2rem;
  border-radius: 0;
  box-shadow: 0 0 10px black;

  & > [class*=MuiButton-label] {
    font-size: 2rem;
  }
}
