// Intentionally increase selector specificity.
.listStyle.listStyle {
  margin: 2rem;
  flex-shrink: 0;
  padding: 0;
  border: 1px solid darkgray;
  border-radius: 0;
};

.itemStyle {
  font-size: 2rem;
}
